{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}VLH Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body id="page-top">
    <div id="wrapper">
        {% include 'OrderMaster/includes/sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include 'OrderMaster/includes/topbar.html' %}
                {% block content %}{% endblock %}
            </div>
            {% include 'OrderMaster/includes/footer.html' %}
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
    
    {% include 'OrderMaster/includes/scripts.html' %}

    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js"></script>

    <script>
        // ACTION REQUIRED: Get this config object from your Firebase project settings
        // Project Settings > General > Your Apps > Web App
        const firebaseConfig = {
            apiKey: "YOUR_API_KEY",
            authDomain: "YOUR_AUTH_DOMAIN",
            projectId: "YOUR_PROJECT_ID", // e.g., "vanita-lunch-home"
            storageBucket: "YOUR_STORAGE_BUCKET",
            messagingSenderId: "YOUR_MESSAGING_SENDER_ID",
            appId: "YOUR_APP_ID"
        };

        // Initialize Firebase
        if (!firebase.apps.length) {
            firebase.initializeApp(firebaseConfig);
        }
        
        const messaging = firebase.messaging();

        function requestNotificationPermission() {
            Notification.requestPermission().then((permission) => {
                if (permission === 'granted') {
                    console.log('Notification permission granted.');
                    
                    // ACTION REQUIRED: Get this key from your Firebase project console
                    // Project Settings > Cloud Messaging > Web configuration > Web Push certificates
                    messaging.getToken({ vapidKey: 'YOUR_FIREBASE_WEB_PUSH_CERTIFICATE_KEY' })
                        .then((currentToken) => {
                            if (currentToken) {
                                console.log('FCM Token:', currentToken);
                            } else {
                                console.log('Could not get token. Please request permission.');
                            }
                        }).catch((err) => {
                            console.log('An error occurred while retrieving token: ', err);
                        });
                } else {
                    console.log('Notification permission denied.');
                }
            });
        }
        
        // Listen for messages when the page is active
        messaging.onMessage((payload) => {
            console.log('Foreground message received: ', payload);
            // You can replace this with a more sophisticated toast notification
            alert(`New Order Received!\n${payload.notification.body}`);
        });

        // Request permission as soon as the page loads
        requestNotificationPermission();
    </script>
    </body>
</html>




